[Unit]
Description=Libretranslate to translate words, sentences and files
Documentation=https://github.com/LibreTranslate/LibreTranslate
Requires=network.target
After=network.target

[Service]
{% for item in libretranslate_environment %}
Environment="{{ item }}"
{% endfor %}

Type=simple
User={{ libretranslate_user }}
ExecStart={{ libretranslate_venv_path }}/bin/python3 libretranslate
WorkingDirectory={{ libretranslate_venv_path }}/bin
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target